html {
  background-color: #7dd5d1;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
}
/* header {
  position: relative;
} */

header {
  margin: 0;
  position: static;
  /* width: 100%; */
}

.contenedor1 {
  display: flex;
  width: 100%;
}

.contenido {
  width: 100%;
}

.logo {
  /* background-color: white; */
  padding: 5px;
  padding-right: 14px;
  position: relative;
  border-radius: 20px;
  width: 125px;
}

.logo > img {
  height: 70px;
  width: 118px;
  position: absolute;
  top: 3px;
  left: 16px;
}

.logo:hover img {
  visibility: hidden;
}

.logo:hover + .inicio {
  visibility: visible;
}

.inicio {
  margin-top: 17px;
  margin-left: 10px;
  display: block;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.MenuPrincipal ol li {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 5px;
  height: 30px;
  padding: 8px;
}

.MenuPrincipal ol li:hover {
  background-color: #7f4d3e;
  border-radius: 7px;
  cursor: pointer;
}

.MenuPrincipal ol li a {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.MenuPrincipal ol li a i {
  margin-right: 5px;
}

.MenuPrincipal ol li:hover a {
  color: white;
}

.MenuPrincipal ol li.seleccionado {
  background-color: #7f4d3e;
  border-radius: 7px;
}

.MenuPrincipal ol li.seleccionado a {
  color: white;
}

main {
  margin: 10px;
  padding: 100px 200px;
  position: relative;
}

.intro {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro p {
  z-index: 888;
  width: 70%;
  margin-top: 10px;
  text-align: justify;
  font-weight: bolder;
}

.intro h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

@media (max-width: 1040px) {
  .contenido {
    width: 100%;
  }

  .logo {
    padding: 5px;
    padding-right: 14px;
    position: relative;
    border-radius: 20px;
    width: 125px;
  }

  .logo > img {
    height: 70px;
    width: 118px;
    position: absolute;
    top: 3px;
    left: 16px;
  }
  .inicio {
    margin-top: 17px;
    margin-left: 10px;
    display: block;
    font-weight: 700;
    font-size: 30px;
  }
  .MenuPrincipal ol li {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 5px;
    height: 30px;
    padding: 8px;
  }
  .MenuPrincipal ol li a i {
    margin-right: 5px;
  }
  .intro p {
    z-index: 888;
    width: 70%;
    margin-top: 10px;
    text-align: justify;
  }
}

footer {
  background-color: white;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer div {
  /* border: 1px solid black;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1; */
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-radius: 50px;
  margin-bottom: 5px;
  padding: 15px;
  background-size: cover;
  background-position: center center;
  background-image: url(./Assets/perfil.jpg);
}

main video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
