body {
  background-color: #7dd5d1;
}

.grid1 section img {
  width: 170px;
  height: 120px;
}

.grid1 section {
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

#agility {
  background-color: #006d6a;
}

/* #agility h2 {
  letter-spacing: 5px;
  font-family: monospace;
} */

.c1 {
  display: inline-block;
  margin: 0;
}

/* .c2 {
  display: inline-block;
  margin: 7px;
} */

.text {
  letter-spacing: 5px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19), cursor 0.4s step-end infinite alternate;
  word-wrap: normal;
}

/* .text1 {
  letter-spacing: 5px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19), cursor 0.4s step-end infinite alternate;
} */

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

#canicross {
  background-color: #002828;
}

#frisbee {
  background-color: #00c493;
}

#natacion {
  background-color: #39846c;
}

#doga {
  background-color: #005b5e;
}

.grid1 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  /* margin: 10px; */
  color: white;
  width: min(85%, 70rem);
  margin-inline: auto;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.act {
  border-radius: 0.5rem;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.grid1 h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .c1 {
    width: 100%;
  }
}
